*{
    border: 1px dotted black;
}

#Disponibles div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#Disponibles div article{
    width: 30%;
}

article img{
    width: 100%
}
h4{
    text-align: center;
}

.imgPizza{
    width: 50%;
    display: block;
    margin: 0;

}

#NoDisponible>div{
    display: flex;
    justify-content: space-between;
}
