<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 class="promocion">Pagina de productos</h1>
    <div class="ususario">
        <div>
            <span class="iconoUsuario">{{Usuario}}</span><img class="iconoUsuario"src="static/img/icono.png" alt=""srcset="">
        </div>
        <div class="datosUsuario" id="datosUsuario">
            <ul>
                <li><a href="editarUsuario">Editar Usuario</a></li>
                <li><a href="cerrarSesion">Cerrar Sesion</a></li>
                <li><a href="crearproducto">Productos</a></li>
            </ul>

        </div>

    </div>
    <section id="Disponibles" class="productos">
        <h3>Productos disponiles</h3>
        <div>
        <article id="p1">
            <h4 class="tituloProducto">Nombre producto1</h4>
            <p>Decripcion del producto</p>
            <img src="static/img/pizza.jpg" alt="pizza">
        </article>
        <article>
            <h4 class="tituloProducto">Nombre producto2</h4>
            <p>Decripcion del producto</p>
            <img src="static/img/pizza.jpg" alt="pizza">
        </article>
        <article>
            <h4 class="tituloProducto">Nombre producto3</h4>
            <p>Decripcion del producto</p>
            <img src="static/img/pizza.jpg" alt="pizza">
        </article>
        </div>
    </section> 
    <section id="NoDisponible"class="productos">
        <h3>Productos no disponibles</h3>
        <div>
            <article>
                <img class="imgPizza" src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
            <article>
                <img src="static/img/pizza2.jpg" alt="">
                <h4>Nombre producto</h4>
            </article>
        </div>

    </section>
    
</body>
</html>