<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrar</title>
    <link rel="stylesheet" href="static/registrar.css">
    <script src="static/registro.js"></script>
</head>
<body>
    <form id="registrar"action="crearUsuario"method="post">
        <label for="">Usuario</label>
        <input type="text" name="usuario" id=""placeholder="Nuevo usuario"required>
        <label for="">Password</label>
        <input type="password" name="password" id="password"placeholder="Nueva Contraseña">
        <label for="">Confirma Password</label>
        <input type="password" name="confirpassword" id="repassword"placeholder="Confirma Contraseña">
        <input class="button" type="submit" value="Registrar" id="btnEnviar" disabled>
        {{mensage}}
        <div class='link'>
            <a href="login">Si ya existe pulse aqui</a>
        </div>
    </form>
</body>
</html>