<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <h1>Nuevo usuario</h1>
    <form action="" method="post">
        <label for="">Nombre del usuario</label>
        <input type="text" name="nombre" id=""placeholder="Nombre de usuario"required>
        <label for="">Contaseña</label>
        <input type="password" name="password" id=""required>
        <label for="">Repite contraseña</label>
        <input type="password" name="" id=""placeholder="contraseña"required>
        <input type="submit" value="Crear usuario">
    </form>
</body>
</html>